flask==3.1.0
opencv-python==4.9.0.80
numpy==1.26.4
tqdm==4.67.1
omegaconf==2.3.0
scipy==1.15.2
scikit-image==0.25.2
Pillow==11.2.1
python-speech-features==0.6
easydict==1.13
einops==0.8.1
face-alignment==1.4.1
kornia==0.8.1
transformers==4.51.3
accelerate==1.6.0
av==14.2.0
librosa==0.10.2.post1
resampy==0.4.3
soundfile==0.13.1
matplotlib==3.10.1
tensorboard==2.19.0
mmcv==2.2.0
mmdet==3.3.0
mmpose==1.4.0
